<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="missions.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let post of missions" [expanded]="true">
    <mat-expansion-panel-header>
      <span class="missiontitle">{{ post.title }}</span>
    </mat-expansion-panel-header>
    <div class="add-transaction">
      <div class="content">
        <button
          class="button-left"
          mat-mini-fab
          color="accent"
          aria-label="Example icon button with a plus one icon"
        >
          <mat-icon (click)="onCreateTransaction(post.id)">plus_one</mat-icon>
        </button>

        <button
          class="button-left"
          mat-button
          color="warn"
          (click)="onCreateTransaction(post.id)"
        >
          Add Transaction
        </button>
      </div>
      <div class="status">
        <span class="text">{{ post.status }} </span>
      </div>

      <div class="amount">
        <span class="label">Total Amount in USD : </span>
        <span class="value">{{ post.totalAmount }}</span>
      </div>
    </div>
    <table mat-table [dataSource]="post.transactions" class="mat-elevation-z8">
      <!-- label Column -->
      <ng-container matColumnDef="label">
        <th mat-header-cell *matHeaderCellDef>Label</th>
        <td mat-cell *matCellDef="let element">{{ element.label }}</td>
      </ng-container>

      <!-- amount Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
      </ng-container>

      <!-- typeOfFees Column -->
      <ng-container matColumnDef="typeOfFees">
        <th mat-header-cell *matHeaderCellDef>Type Of Fees</th>
        <td mat-cell *matCellDef="let element">{{ element.typeOfFees }}</td>
      </ng-container>

      <!-- date Column -->
      <!-- {{ element.date | date }}  pipe is use to display date as   Jan 17, 2021 instead of 17-01-2021 for exemple -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let element">{{ element.date | date }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="transactionType">
        <th mat-header-cell *matHeaderCellDef >Transaction Type</th>
        <td mat-cell *matCellDef="let element">
          {{ element.transactionType }}
        </td>
      </ng-container>

      <!-- image Column -->
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef>Image</th>
        <td mat-cell *matCellDef="let element">
          <div class="post-image">
            <img [src]="element.imagePath" [alt]="post.title" />
          </div>
        </td>
      </ng-container>

      <!-- Edit and Delete for tansaction-->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>Edit Mission</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-button
            color="primary"
            (click)="onUpdateTransaction(post.id, element.id)"
          >
            EDIT
          </button>
          <button
            mat-button
            class="button-warn"
            (click)="onDeleteTransaction(post.id, element.id)"
          >
            DELETE
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <!-- Delete mission-->
    <!-- userId === post.creator  mean that the only user that create the mission can deleted (for Authorization purpose)-->
    <mat-action-row *ngIf="userIsAuthenticated && userId === post.creator">
      <button mat-button class="button-warn" (click)="onDeleteMission(post.id)">
        DELETE Mission
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator
  [length]="totalMissions"
  [pageSize]="missionPerPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)"
  *ngIf="missions.length > 0"
></mat-paginator>
<p class="info-text mat-body-1" *ngIf="missions.length <= 0 && !isLoading">
  No missions added yet!
</p>
